<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Skin Cancer</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Favicon
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="static/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon.png">

    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <header id="masthead" class="site-header site-header-white">
        <nav id="primary-navigation" class="site-navigation">
            <div class="container">

                <div class="navbar-header">
                   
                    <a class="site-title" style="font-size:35px;color:white"><span>SLIN CANCER</span></a>

                </div><!-- /.navbar-header -->

                <div class="collapse navbar-collapse" id="agency-navbar-collapse">

                    <ul class="nav navbar-nav navbar-right">

                        <li><b><a href="/"style="font-size:20px;">Home</a></b></li>

                        </li>
                        <li class="active"><b><a href="/about" style="font-size:20px;">About</a></b></li>
                        <li><b><a href="/Register"style="font-size:20px;">Register</a></b></li>
                        <li><b><a href="/login"style="font-size:20px;">Login</a></b></li>

<!--                        <li><a href="ui-elements.html">UI Elements</a></li>-->
                        
                    </ul>

                </div>

            </div>   
        </nav><!-- /.site-navigation -->
    </header><!-- /#mastheaed -->


<!--#26292c;-->











    <div id="hero" class="hero overlay subpage-hero portfolio-hero">
        <div class="hero-content">
            <div class="hero-text">
                <h1>ABOUT US</h1>
                <ol class="breadcrumb">
<!--                  <li class="breadcrumb-item"><a href="#">Home</a></li>-->
<!--                  <li class="breadcrumb-item active">Portfolio</li>-->
                </ol>
            </div><!-- /.hero-text -->
        </div><!-- /.hero-content -->
    </div><!-- /.hero -->

    <main id="main" class="site-main">

        <section class="site-section subpage-site-section section-portfolio">
            <div class="container">

                <h2>Objective:</h2>
                     <p style="color: #11a7bc"><b>Objective:
                         The objective of the skin cancer classification using deep learning techniques is to develop an accurate and reliable system that can accurately classify skin lesions as benign or malignant, based on images of the skin. The ultimate goal is to aid dermatologists in early detection of skin cancer, which can potentially save lives through early intervention and treatment.</b></p>

           <h2>Precautions:</h2>
                <p style="color: #11a7bc"><b>1.Data quality: Ensuring that the data used for training and testing the deep learning model is of high quality, with accurate and reliable annotations. This includes using well-curated datasets with diverse samples of skin lesions, and minimizing biases in the data.</b></p>

                <p style="color: #11a7bc"><b>2. Ethical considerations: Respecting patient privacy and adhering to ethical guidelines while collecting and using patient data. It is important to obtain proper consent from patients before using their skin lesion images for training the deep learning model.</b></p>
                <p style="color: #11a7bc"><b>Model interpretability: Deep learning models are often considered "black boxes" due to their complex architectures. Ensuring that the model's predictions are interpretable and explainable, so that dermatologists can understand and trust the model's output.</b></p>
<p style="color: #11a7bc"><b>4. Validation and generalization: Properly validating the performance of the deep learning model using appropriate evaluation metrics and cross-validation techniques. Ensuring that the model generalizes well to unseen data and is not overfitting to the training data.</b></p>

           <h2 >Implementation Stages:</h2>
                <p  style="color: #11a7bc"><b>1. Data collection: Gathering a diverse and representative dataset of skin lesion images, including both benign and malignant lesions, with accurate annotations.</b></p>
                <p  style="color: #11a7bc"><b>2.Data preprocessing: Preprocessing the dataset by normalizing pixel values, resizing images, and augmenting data to increase dataset diversity and improve model generalization.</b></p>
                           <p  style="color: #11a7bc"><b>3. Model development: Training deep learning models, such as convolutional neural networks (CNNs), using the preprocessed dataset. Tuning hyperparameters, selecting appropriate architectures, and optimizing the model for accuracy and interpretability.

</b></p>


            </div></section></main>

<!--                <ul class="portfolio-sorting list-inline text-center">-->
<!--                    <li><a href="#" class="btn btn-gray active" data-group="all">All</a></li>-->
<!--                    <li><a href="#" class="btn btn-gray" data-group="webdesign">Web design</a></li>-->
<!--                    <li><a href="#" class="btn btn-gray" data-group="mobileapp">Mobile app</a></li>-->
<!--                    <li><a href="#" class="btn btn-gray" data-group="illustration">Illustration</a></li>-->
<!--                    <li><a href="#" class="btn btn-gray" data-group="branding">Branding</a></li>-->
<!--                    <li><a href="#" class="btn btn-gray" data-group="photography">Photography</a></li>-->
<!--                </ul>&lt;!&ndash; /.portfolio-sorting  &ndash;&gt;-->

<!--                <div id="grid" class="row">-->
<!--                    <div class="col-lg-3 col-md-4 col-xs-6" data-groups='["webdesign"]'>-->
<!--                        <div class="portfolio-item">-->
<!--                            <img src="assets/img/portfolio-1.jpg" class="img-res" alt="">-->
<!--                            <h4 class="portfolio-item-title">Portfolio item</h4>-->
<!--                            <a href="loginhomepage.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>-->
<!--                        </div>&lt;!&ndash; /.portfolio-item &ndash;&gt;-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 col-md-4 col-xs-6" data-groups='["mobileapp"]'>-->
<!--                        <div class="portfolio-item">-->
<!--                            <img src="assets/img/portfolio-2.jpg" class="img-res" alt="">-->
<!--                            <h4 class="portfolio-item-title">Portfolio item</h4>-->
<!--                            <a href="loginhomepage.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>-->
<!--                        </div>&lt;!&ndash; /.portfolio-item &ndash;&gt;-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 col-md-4 col-xs-6" data-groups='["illustration"]'>-->
<!--                        <div class="portfolio-item">-->
<!--                            <img src="assets/img/portfolio-3.jpg" class="img-res" alt="">-->
<!--                            <h4 class="portfolio-item-title">Portfolio item</h4>-->
<!--                            <a href="loginhomepage.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>-->
<!--                        </div>&lt;!&ndash; /.portfolio-item &ndash;&gt;-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 col-md-4 col-xs-6" data-groups='["branding"]'>-->
<!--                        <div class="portfolio-item">-->
<!--                            <img src="assets/img/portfolio-4.jpg" class="img-res" alt="">-->
<!--                            <h4 class="portfolio-item-title">Portfolio item</h4>-->
<!--                            <a href="loginhomepage.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>-->
<!--                        </div>&lt;!&ndash; /.portfolio-item &ndash;&gt;-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 col-md-4 col-xs-6" data-groups='["photography"]'>-->
<!--                        <div class="portfolio-item">-->
<!--                            <img src="assets/img/portfolio-5.jpg" class="img-res" alt="">-->
<!--                            <h4 class="portfolio-item-title">Portfolio item</h4>-->
<!--                            <a href="loginhomepage.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>-->
<!--                        </div>&lt;!&ndash; /.portfolio-item &ndash;&gt;-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 col-md-4 col-xs-6" data-groups='["illustration"]'>-->
<!--                        <div class="portfolio-item">-->
<!--                            <img src="assets/img/portfolio-6.jpg" class="img-res" alt="">-->
<!--                            <h4 class="portfolio-item-title">Portfolio item</h4>-->
<!--                            <a href="loginhomepage.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>-->
<!--                        </div>&lt;!&ndash; /.portfolio-item &ndash;&gt;-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 col-md-4 col-xs-6" data-groups='["mobileapp"]'>-->
<!--                        <div class="portfolio-item">-->
<!--                            <img src="assets/img/portfolio-7.jpg" class="img-res" alt="">-->
<!--                            <h4 class="portfolio-item-title">Portfolio item</h4>-->
<!--                            <a href="loginhomepage.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>-->
<!--                        </div>&lt;!&ndash; /.portfolio-item &ndash;&gt;-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 col-md-4 col-xs-6" data-groups='["uiux"]'>-->
<!--                        <div class="portfolio-item">-->
<!--                            <img src="assets/img/portfolio-8.jpg" class="img-res" alt="">-->
<!--                            <h4 class="portfolio-item-title">Portfolio item</h4>-->
<!--                            <a href="loginhomepage.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>-->
<!--                        </div>&lt;!&ndash; /.portfolio-item &ndash;&gt;-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 col-md-4 col-xs-6" data-groups='["mobileapp"]'>-->
<!--                        <div class="portfolio-item">-->
<!--                            <img src="assets/img/portfolio-9.jpg" class="img-res" alt="">-->
<!--                            <h4 class="portfolio-item-title">Portfolio item</h4>-->
<!--                            <a href="loginhomepage.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>-->
<!--                        </div>&lt;!&ndash; /.portfolio-item &ndash;&gt;-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 col-md-4 col-xs-6" data-groups='["photography"]'>-->
<!--                        <div class="portfolio-item">-->
<!--                            <img src="assets/img/portfolio-10.jpg" class="img-res" alt="">-->
<!--                            <h4 class="portfolio-item-title">Portfolio item</h4>-->
<!--                            <a href="loginhomepage.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>-->
<!--                        </div>&lt;!&ndash; /.portfolio-item &ndash;&gt;-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 col-md-4 col-xs-6" data-groups='["branding"]'>-->
<!--                        <div class="portfolio-item">-->
<!--                            <img src="assets/img/portfolio-11.jpg" class="img-res" alt="">-->
<!--                            <h4 class="portfolio-item-title">Portfolio item</h4>-->
<!--                            <a href="loginhomepage.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>-->
<!--                        </div>&lt;!&ndash; /.portfolio-item &ndash;&gt;-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 col-md-4 col-xs-6" data-groups='["webdesign"]'>-->
<!--                        <div class="portfolio-item">-->
<!--                            <img src="assets/img/portfolio-12.jpg" class="img-res" alt="">-->
<!--                            <h4 class="portfolio-item-title">Portfolio item</h4>-->
<!--                            <a href="loginhomepage.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>-->
<!--                        </div>&lt;!&ndash; /.portfolio-item &ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="text-center">-->
<!--&lt;!&ndash;                    <a class="btn btn-gray" href="#" id="loadMore">Load More</a>&ndash;&gt;-->
<!--                </div>-->

<!--            </div>-->
<!--        </section>&lt;!&ndash; /.section-portfolio &ndash;&gt;-->

<!--    </main>&lt;!&ndash; /#main &ndash;&gt;-->

<!--    <footer id="colophon" class="site-footer">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-md-3 col-sm-4 col-xs-6">-->
<!--                    <a class="site-title"><span>Agency</span>Perfect</a>-->
<!--                    <p>We're a digital agency focused on creative and results-driven solutions.</p>-->
<!--                    <p>We measure our success by the results we drive for our clients.</p>-->
<!--                </div>-->
<!--                <div class="col-lg-offset-4 col-md-3 col-sm-4 col-md-offset-2 col-sm-offset-0 col-xs-6 ">-->
<!--                    <h3>Keep in touch</h3>-->
<!--                    <ul class="list-unstyled contact-links">-->
<!--                        <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@agencyperfect.com">info@agencyperfect.com</a></li>-->
<!--                        <li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+37400800000">+374 (00) 80 00 00 </a></li>-->
<!--                        <li><i class="fa fa-fax" aria-hidden="true"></i><a href="+37400900000">+374 (00) 90 00 00</a></li>-->
<!--                        <li><i class="fa fa-map-marker" aria-hidden="true"></i><p>20 Leo, Armenia</p></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--                <div class="clearfix visible-xs"></div>-->
<!--                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">-->
<!--                    <h3>Featured links</h3>-->
<!--                    <ul class="list-unstyled">-->
<!--                        <li><a href="index.html">Home</a></li>-->
<!--                        <li><a href="login.html">Blog</a></li>-->
<!--                        <li class="active"><a href="portfolio.html">Porfolio</a></li>-->
<!--                        <li><a href="Register.html">Contact</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="copyright">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-xs-8">-->
<!--                        <div class="social-links">-->
<!--                            <a class="twitter-bg" href="#"><i class="fa fa-twitter"></i></a>-->
<!--                            <a class="facebook-bg" href="#"><i class="fa fa-facebook"></i></a>-->
<!--                            <a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a>-->
<!--                            <a class="linkedin-bg" href="#"><i class="fa fa-linkedin"></i></a>-->
<!--                        </div>&lt;!&ndash; /.social-links &ndash;&gt;-->
<!--                    </div>-->
<!--                    <div class="col-xs-4">-->
<!--                        <div class="text-right">-->
<!--                            <p>&copy; AgencyPerfect</p>-->
<!--                            <p>All Rights Reserved</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>&lt;!&ndash; /.copyright &ndash;&gt;-->
<!--    </footer>&lt;!&ndash; /#footer &ndash;&gt;-->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/bootstrap-select.min.js"></script>
    <script src="static/js/jquery.slicknav.min.js"></script>
    <script src="static/js/jquery.countTo.min.js"></script>
    <script src="static/js/jquery.shuffle.min.js"></script>
    <script src="static/js/script.js"></script>
  
</body>
</html>